/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --pixelOpacity: 0;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(34, 114, 26, 0.822);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.container {
  background-color: rgb(199, 193, 168);
  border: 40px solid hsl(0, 100%, 34%);
  border-radius: 10px;
  height: 90vh;
  width: 90vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-grow: 1;
}

.box {
  flex-grow: 1;
  opacity: var(--pixelOpacity, 0);
}

button {
  position: fixed;
  right: 2vh;
  top: 2vh;
  border-radius: 20px;
  border: 2px solid black;
}
